---
layout: default
---

<div class="home">

  <!-- Desire to add home image
  <img src="/assets/images/fabrizio-conti-aExT3y92x5o-unsplash.jpg" alt="" class="header-image"> -->
  <!-- https://unsplash.com/photos/aExT3y92x5o -->
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  <!-- {%- if page.image -%}
    <img src="{{ page.image | relative_url }}" alt="" class="featured-image-post">
    <br><br>
  {%- endif -%} -->
  <h1 class="page-heading-2"> A Garden of Things </h1>

  <hr>
  <br>

  <!-- {{ content }} -->

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->

    <h2> Essays </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "Essay" -%}
          <li>
            <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
     </ul>

     <br>
    <hr> 
    <br>

    <h2> Forecasts </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "Forecast" -%}
          <li>
                <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <br>
    <hr> 
    <br>

    <h2> Notes </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "Notes" -%}
          <li>
            <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <br>
    <hr> 
    <br>

    <h2> Thoughts </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "Thoughts" -%}
          <li>
                <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <br>
    <hr> 
    <br>

    <h2> Logs </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "Log" -%}
          <li>
            <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <br>
    <hr> 
    <br>

    <h2> Lists </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "List" -%}
          <li>
            <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <br>
    <hr> 
    <br>

    <h2> Drafts / Unfinished </h2> 
    <ul class="post-list-3">
      {%- for post in site.posts -%}
          {%- if post.category == "Draft" -%}
          <li>
            <a class="post-link-2" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
      {%- endif -%}
      {%- endfor -%}
     </ul>
    
    
  {%- endif -%}

</div>

<!-- Tutorials 
Notes 
Reflections and Thoughts  
Logs 
Lists 
Reports 
Reviews 
Essays 
Unfinished or Draft Work  -->
