<head>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
jax: ["input/TeX", "output/HTML-CSS"],
extensions: ["tex2jax.js"],
packages: {'[+]':['amsmath'], '[+]':['amssymb'],'[+]':['amstex'], '[+]':['mathtools']},
"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] },
tex2jax: { inlineMath: [ ["$", "$"], ["\\(","\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
TeX: { noUndefined: { attributes: { mathcolor: "white", mathbackground: "black", mathsize: "90%" } } },
messageStyle: "none"
});
</script>

<style>
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>
</head>

{{ content }}
